body
{
	background-color:rgb(110,110,110);
	background-image:url('../img/defaultBackground.png');
	background-size:100% 100%;
}
#container
{
	font-size:17px;
	font-family: 'Nunito', sans-serif;
	margin: 30px auto;
	width:800px;
	height:600px;
	border:8px solid rgba(0,0,0,0.3);
	border-radius:8px;
	position:relative;
	overflow:hidden;
	background:black;
}
h1
{
	font-size:48px;
	font-family: 'Poiret One', sans-serif;
	padding-top: 30px;
	text-align:center;
	color:white;
	text-shadow:0px 0px 50px pink;
}
#sceneContent
{
	position:absolute;
	width: 100%;
	height: 100%;
}
.character
{
	position:absolute;
	width:268px;
	height:450px;
	left:450px;
	top:150px;
	background-repeat:no-repeat;
}
